# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Archivos de entorno
.env

# Base de datos local
db.sqlite3

# Logs
*.log

# Archivos estáticos recopilados
staticfiles/

# Media local
media/

# IDEs / Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Cache
.cache/