{% extends "layout_dashboard.html" %}
{% block dashboard_content %}

<h1>🏷️ Venta garage</h1>

<div class="cards-grid">
{% for item in items %}
  <div class="cv-card">

    <h3>{{ item.nombreproducto }}</h3>

    <!-- ETIQUETA ESTADO -->
    <span class="estado-badge
          {% if item.estadoproducto == 'Bueno' %}
            estado-bueno
          {% elif item.estadoproducto == 'Regular' %}
            estado-regular
          {% endif %}
    ">
      {{ item.estadoproducto }}
    </span>

    <div class="cv-meta">
      💰 ${{ item.valordelbien }}
    </div>

    <div class="cv-desc">
      {{ item.descripcion }}
    </div>

    <!-- IMAGEN DEBAJO DE LA DESCRIPCIÓN -->
    {% if item.foto_producto %}
      <img 
        src="{{ item.foto_producto.url }}"
        alt="{{ item.nombreproducto }}"
        class="cv-preview"
      >
    {% endif %}

  </div>
{% endfor %}
</div>

{% endblock %}
