{% extends "layout_dashboard.html" %}
{% block dashboard_content %}

<h1>🏷️ Venta garage</h1>

<div class="cards-grid">
{% for item in items %}
  <div class="cv-card">

    <h3>{{ item.nombreproducto }}</h3>

    <div class="cv-meta">
      💰 ${{ item.valordelbien }}
    </div>

    <div class="cv-desc">
      {{ item.descripcion }}
    </div>

    {% if item.imagenproducto %}
      <img src="{{ item.imagenproducto.url }}" class="cv-preview">
    {% endif %}

  </div>
{% endfor %}
</div>

{% endblock %}
