{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Hoja de Vida{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TIPOGRAFÍA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- CSS GLOBAL -->
<link rel="stylesheet" href="{% static 'css/dashboard-pro.css' %}">


  {% block extra_css %}{% endblock %}
</head>

<body>

  {% block content %}
  {% endblock %}

</body>
</html>
